* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff3c;
    min-height: 100vh;
    padding-top: 50px;
    background: linear-gradient(179.1deg, rgb(247, 238, 238) -1.9%, rgb(247, 202, 201) 44.9%, rgb(145, 168, 208) 96.1%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.703);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    
    transform: translateY(100%);
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
}

h1, .textbox {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

form {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s; 
}

h1 {
    font-size: 46px;
    font-weight: 500;
    color: rgb(81, 69, 83);
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 12px;
    width: 40%;
}

.material-symbols-outlined {
    color: rgb(122, 99, 127);
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: white;
}

input {
    flex: 1;
    border: none;
    text-align: start;
    outline: none !important;
    font-size: 16px;
    padding: 8px;
    background: transparent;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
}


footer {
    width: 100%;
    color: rgb(80, 80, 80);
    padding: 10px;
    text-align: center;
    font-family: "Space Mono", monospace;
    position: absolute;
    bottom: 0;
}

a {
    color: #e69288;
}
