* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff3c;
    min-height: 100vh;
    padding-top: 50px;
    background-image: url("https://media.istockphoto.com/id/1369337114/vector/france-flag-flag-illustration.jpg?s=612x612&w=0&k=20&c=ibpaq2tnkYL5D-MDaBR9HSKzwzQplrwbR1GONThTWgI=");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-weight: 800;
    color: rgb(81, 69, 83);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-height: 80vh;
    background: #f9f7fa00;
    padding: 20px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
}

.material-symbols-outlined {
    color: rgb(122, 99, 127);
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

input {
    flex: 1;
    border: none;
    text-align: start;
    outline: none !important;
    font-size: 16px;
    padding: 8px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
}

footer {
    width: 100%;
    background-color: #ffffff84;
    color: rgb(80, 80, 80);
    padding: 10px;
    text-align: center;
    margin-top: auto;
    font-family: "Space Mono", monospace;
}

a {
    color: rgb(206, 104, 206);
}
